---
title: LCBO
nav_menu:
  - Vintages
  - Shop
  - Cart
  - Login
---

<div class="wrapper">
  <header>
  <div class="nav">
    <h1>LCBO</h1>
    <ul>
      <% current_page.data.nav_menu.each do |item| %>
       <li><a href='#'><%= item %></a></li>
       <% end %>
      </ul>
  </div>
</header>
  <div class='carousel-container'>
    <ul class='carousel current'>
      <li class='carousel-item'>
        <img src="/images/adult-bar-background.jpg">
      </li>
      <li class='carousel-item carousel-item--black'>
        <h2>It's that time of season again...</h2>
        <p>The season of get togethers, huddling by the fire, and spending time with the ones you love the most.</p>
    </li>
      <li class='carousel-item'>
        <img src="/images/whisky-background.jpg">
    </li>
      <li class='carousel-item'>
        <h2>Try our new bold bodied wines!</h2>
        <p>Available in a variety of different flavours for different celebratory occasions (or y'know, girls' night in).</p>
        <button>Click here to see more!</button>
    </li>
      <li class='carousel-item last'>
        <img src="/images/wine-background.jpg">
      </li>
    </ul>
  </div>
<div class="search-container">
  <form role="form" aria-label="search form">
    <h2>Search</h2>
    <input type="text" name="query" id="query" placeholder="Search for...">
    <input type="submit" id="submit">
  </form>

  <div id="productData" class="product-parent">
    <div class="loading-data">
      <p>Please enter your search in the box above.</p></div>
  </div>
  </div>
  <div class="categories-container">
    <h2>Blog Posts</h2>
    <div class="product-parent">

          <% data.blogs.each do |blog_post| %>
          <%= blog_post.blog_title %>
          <%= blog_post.blog_desc %>
          <% end %>

    </div>
</div>
    <footer>
      <div class="footer-nav">
        <ul>
          <li><a href="#">Wine</a></li>
          <li><a href="#">Spirits</a></li>
          <li><a href="#">Beer</a></li>
          <li><a href="#">Cider</a></li>
        </ul>
        <ul>
          <li><a href="#">Vintages</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">Login</a></li>
        </ul>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Return Policy</a></li>
        </ul>
      </div>

      <p>Made with ❤ by Marie Felton 2018 &copy;</p>

    </footer>
  </div>
