---
title: LCBO Database Search
---

<h1>Search the LCBO Database</h1>
<form>
<input type="text" name="query" id="query">
  <input type="submit" id="submit">

  <div class="product--parent">
    <div class="product--child">
      <img class="product--img" src="">
    </div>

  </div>
</form>
